MONGO_URI=mongodb+srv://arun74:arun63@cluster0.hbrtuog.mongodb.net/solarseva?retryWrites=true&w=majority
JWT_SECRET=SolarSeva2026KeySecretABCD1234WXYZ9876
JWT_EXPIRES_IN=7d
# Razorpay (get from razorpay.com/dashboard)
RAZORPAY_KEY_ID=rzp_test_SrrMAWsJRtnsT0
RAZORPAY_KEY_SECRET=yU1LXZBEUtRyXal6Ge9hP962

# WhatsApp Business API (Meta Cloud API)
WA_PHONE_NUMBER_ID=123456789012345
WA_ACCESS_TOKEN=EAAxxxxxxxxxxxxxx
WA_BUSINESS_ACCOUNT_ID=6395869561
GOOGLE_CLIENT_ID=947893002686-q0vre6mgoeeltepe88m9pru93fe0t62d.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# Frontend URL (for CORS)
FRONTEND_URL=https://solar-seva.vercel.app
